@use "shared/styles/placeholders";
@use "shared/styles/variables" as var;
@use "shared/styles/functions" as fn;
@use "shared/styles/mixins";

.sidebar {
    @include mixins.set-border-radius("large");
    @include mixins.ease("medium", "max-height");

    position: relative;
    background-color: fn.get-color("eerie-black-2");
    border: 1px solid fn.get-color("jet");
    padding: 15px;
    overflow: hidden;
    max-height: 112px;
    box-shadow: fn.get-color("shadow-1");

    &.active {
        max-height: 405px;
    }

    &.collapsing {
        max-height: 112px;
    }

    @include mixins.media("tablet") {
        padding: 30px;
    }
    @include mixins.media("desktop") {
        padding-top: 60px;
    }
}

.showMore {
    @include mixins.ease("slow", "background-color");

    position: absolute;
    top: -1px;
    right: 0;
    border-radius: 0 15px;
    color: fn.get-color("orange-yellow-crayola");
    background: fn.get-color("border-gradient-onyx");
    border: 1px solid fn.get-color("transparent");
    overflow: hidden;
    padding: 7px;
    box-shadow: fn.get-color("shadow-2");
    z-index: 1;

    &:hover,
    &:active,
    &:focus {
        background-color: fn.get-color("vegas-gold");

        .showMoreText {
            color: fn.get-color("white-1");
        }
    }

    @include mixins.media("tablet") {
        padding: 10px 15px;
    }

    &::before {
        content: "";
        position: absolute;
        top: -1px;
        inset: 1px;
        border-radius: inherit;
        background: fn.get-color("bg-gradient-jet");
    }

    .arrow {
        @include mixins.ease("medium", "rotate", "stroke");

        display: block;
        position: relative;
        z-index: 2;
        stroke: fn.get-color("orange-yellow-crayola");
        fill: fn.get-color("transparent");
        rotate: 0deg;

        &:hover,
        &:active,
        &:focus {
            stroke: fn.get-color("white-1");
        }

        &.animationArrow {
            rotate: 180deg;
        }
    }

    .showMoreText {
        @include mixins.ease("medium", "color");
        @extend %show-more;

        position: relative;
        z-index: 2;
    }

    @include mixins.media("desktop") {
        display: none;
    }
}

.content {
    @include mixins.ease("fast", "opacity");
    opacity: 0;

    &.visible {
        opacity: 1;
    }

    &.hidden {
        opacity: 0;
    }
}
